<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="gestor-movimientos">
  <template>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--<script type="text/javascript" src="../../hola.js"></script>-->
    <style>
      :host {
        display: block;
      }
    </style>

    <!--<button onclick="saludar()" type="button" name="buttom">Saludar</button> -->
    <div class="container">
      <div class="row">
        <h1>Gestor de Movimientos</h1>
      </div>
      <div class="row">
        <button on-click="ObtenerMovimientos" class = "btn btn-danger col-lg-4 col-xs-12" type="button" name="button">Obtener Movimientos</button>
      </div>

      <div class = "row">
        <br>
        <table class="table table-striped">
          <tbody>
            <template is = "dom-repeat" items="{{clientes}}" as="customers">
              <template is = "dom-repeat" items="{{customers.movimientos}}" as="movimientos">
              <tr>
                <td>[[customers.idcliente]]</td>
                <td>[[customers.nombre]]</td>
                <td>[[customers.apellido]]</td>
                <td>[[customers.cuenta]]</td>
                <td>[[movimientos.fecha]]</td>
                <td>[[movimientos.importe]]</td>
                <td>[[movimientos.categoria]]</td>
              </tr>
            </template>
          </template>
          </tbody>
        </table>

      </div>

      <div class="row">
        <br>
        Registrar Movimiento
        <br>
        <br>
        idcliente: <input type="idcliente" value="{{idcliente::input}}">
        <br>
        <br>
        Nombre: <input type="nombre" value="{{nombre::input}}">
        <br>
        Apellido: <input type="apellido" value="{{apellido::input}}">
        <br>

        <button on-click="insertarMovimientos" class = "btn btn-warning col-lg-4 col-xs-12" type="button" name="button">Registrar Movimientos</button>

      </div>


    </div>

  </div>

  <iron-ajax
  id ="doObtenerMovimientos"
  url="http://localhost:3000/v3/Clientes"
  content-type = "application/json"
  crossDomain:true
  dataType:'jsonp'
  method="GET"
  handle-as="json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponse"
  on-error="showError">

  <iron-ajax
  id ="doInsertarMovimientos"
  url="http://localhost:3000/v3/Clientes"
  content-type = "application/json"
  crossDomain:true
  dataType:'jsonp'
  method="POST"
  handle-as="json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponse"
  on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }

      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          idcliente: {
            type: String

          },
          nombre : {
            type: String

          },
          apellido: {
            type: String
          },
          cuenta: {
            type: String
          }
        };
      }

      ObtenerMovimientos(){

        this.$.doObtenerMovimientos.generateRequest();
        console.log("Se solicita lista de clientes");

        /*var url = "http://localhost:3002/v3/Clientes";
        var request = new XMLHttpRequest();
        //request.open("GET", url, false); es false, pq ya manejamos la peticion sincrona
        request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.table(this.clientes);*/
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.clientes = data.detail.response;
        //this.logado = true;
      }


      insertarMovimientos(){

        var nuevoCliente = {
          "idcliente" : this.idcliente,
          "nombre" : this.nombre,
          "apellido" : this.apellido,
          "cuenta" : this.cuenta
        };
        this.$.doInsertarMovimientos.body = JSON.stringify(nuevoCliente);
        this.$.doInsertarMovimientos.generateRequest();
        console.log("Se solicita insertar nuevo movimiento");
JSON.stringify( _id, [ {"fecha" : fecha}, {"importe": importe}, {"cuenta" : cuenta} ] );


      }


      insertarMovimientos(){
        console.log("dentro de insertarMovimientos" + this.clientes[0]._id);
        var nuevoMovimiento = {

          "_id" : this.clientes[0]._id,
          "fecha" : this.fecha,
          "importe" : this.importe,
          "categoria" : this.categoria
        };
        this.$.doInsertarMovimientos.body = JSON.stringify(nuevoMovimiento);
        this.$.doInsertarMovimientos.generateRequest();
        console.log("Se solicita insertar nuevo movimiento");

URVBuck3t27&&

      }


      var _id = this.clientes[0]._id;
      var fecha = this.fecha;
      var importe = this.importe;
      var categoria = this.categoria;

    this.$.doInsertarMovimientos.body = JSON.stringify( {_di}, {"$push" : {"fecha" : fecha}, {"importe" : importe}, {"categoria" : categoria}})



    }

    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
