<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/gestor-clientes/gestor-clientes.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script type="text/javascript" src="../../hola.js"></script>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--<button onclick="saludar()" type="button" name="buttom">Saludar</button> -->
    <div class="container">
      <div class="row" hidden$={{logado}}>
        <h1>Ingreso a la aplicación</h1>
        <br>
        Email: <input type="email" value="{{email::input}}">
        <br>
        Password: <input type="password" value="{{password::input}}">
        <br>
        <button on-click="login" type="button" name="button">Login</button>
      </div>
    </div>

    <div class = "container" hidden={{!logado}} >
      <div class="row" >
        <h1>Consulta y Alta de tus movimientos</h1>
      <table class="table table-striped">
        <tbody>
          <template is = "dom-repeat" items="{{clientes}}" as="customers">
            <template is = "dom-repeat" items="{{customers.movimientos}}" as="movimientos">
            <tr>


              <td>[[customers.idcliente]]</td>
              <td>[[customers.nombre]]</td>
              <td>[[customers.apellido]]</td>
              <td>[[customers.cuenta]]</td>
              <td>[[movimientos.fecha]]</td>
              <td>[[movimientos.importe]]</td>
              <td>[[movimientos.categoria]]</td>
            </tr>
          </template>
        </template>
        </tbody>
      </table>

      </div>


        <div class="row" >
        Registrar Movimiento
        </div>
        <div class="row" >
        Fecha: <input type="fecha" value="{{fecha::input}}">
        </div>
        <div class="row" >
        Importe: <input type="importe" value="{{importe::input}}">
        </div>
        <div class="row">
        <br>
        Categoria: <input type="categoria" value="{{categoria::input}}">
        <br>
        </div>

        <button on-click="insertarMovimientos" class = "btn btn-warning col-lg-4 col-xs-12" type="button" name="button">Registrar Movimientos</button>

      </div>


    </div>





    <iron-ajax
    id ="doLogin"
    url="http://localhost:3000/v4/login"
    content-type = "application/json"
    crossDomain:true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse"
    on-error="showError">

    <iron-ajax
    id ="doInsertarMovimientos"
    url="http://localhost:3000/v3/Clientes"
    content-type = "application/json"
    crossDomain:true
    dataType:'jsonp'
    method="PUT"
    handle-as="json"
    headers="Access-Control-Allow-Methods: *"
    on-response="manageAJAXResponse"
    on-error="showError">



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }

      static get properties() {
        return {

          clientes: {
            type: Array,
            notify: true
          },
          email: {
            type: String
          },
          password: {
            type: String,

          },
          logado:{
            type: Boolean,
            value: false
          },
          fecha: {
            type: String

          },
          importe : {
            type: String

          },
          categoria: {
            type: String
          }
        }
      };




      login(){
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");

      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        this.logado = true;
        this.clientes = data.detail.response;
        console.log(this.clientes);


      }

      insertarMovimientos(){
        console.log("dentro de insertarMovimientos" + this.clientes[0]._id);
        var _id = this.clientes[0]._id;
        var fecha = this.fecha;
        var importe = this.importe;
        var categoria = this.categoria;


        this.$.doInsertarMovimientos.body = JSON.stringify( {"_id": _id}, {"$push" :  {"movimientos" : { "fecha" : fecha, "importe" : importe, "categoria" : categoria  } } } );
        this.$.doInsertarMovimientos.generateRequest();
        console.log("Se solicita insertar nuevo movimiento");

      }



      showError(error){

        console.log("hubo un error en la petición");
        alert ("Datos ingresados incorrectos, verifique o registrese");
        console.log(error);

      }


    }



    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
